* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}
.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	background-color: lightgrey;
}
.wrapper {
	flex: 1;
	background-image: url('../images/github.svg');
	background-size: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}
.select {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 60px;
	.select__users {
		width: 250px;
		height: 30px;
		padding: 20px;
		color: grey;
		font-size: 16px;
	}
}


.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	.logo {
		height: 40px;
		margin: 30px;
	}
}
